button, .primaryButton, .secondaryButton, .disabled {
  max-width: 12px;
  border-radius: 3px;
  padding: 12px 15px 12px 15px;
  background-color: #8bc34a;
  border: 0px;
  min-width: 110px;
  font-family: SegoUI semiBold;
  font-size: 16px;
  color: #FFFFFF; }

.primaryButton {
  border: 1px solid #8bc34a; }
  .primaryButton:hover {
    border: 1px solid #9dce5d;
    background-color: #9dce5d;
    color: #ffffff; }

.secondaryButton {
  background-color: #FFFFFF;
  color: #2095f2;
  border: 1px solid #2095f2; }
  .secondaryButton:hover {
    background-color: #2095f2;
    color: #FFFFFF;
    border: 1px solid #2095f2; }

.disabledPrimary {
  background-color: #eeeeee;
  color: #999999;
  border: 1px solid #eeeeee; }

.disabled {
  background-color: #ffffff;
  color: #999999;
  border: 1px solid #cccccc; }
